<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>content-resolver</display-name>
    <description>Content Resolver</description>

    <env-entry>
        <env-entry-name>contentresolver/configfile</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>contentresolver-default.xml</env-entry-value>
    </env-entry>

    <servlet>
        <servlet-name>workflowstatemonitor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>dk.statsbiblioteket.medieplatform.contentresolver.service</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>workflowstatemonitor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
